<h1>Edit User Page</h1>


<%# @user = current_user %>

<%= form_with(model: current_user) do |f| %>
    <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>
     <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    
    <%= f.submit "Edit" %>
<% end %>

<span><h3> <%= link_to "change password", edit_password_user_path(current_user, @user) %></h3></span>
