<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <span><h1><%= link_to "Blog On Rails", root_path %></h1></span>
  
    <span><h3><%= link_to "Home", root_path %></h3></span>
    <span><h3> <%= link_to "New Post", new_post_path %></h3></span>
 
   
    </nav >




    <%= yield %>
  </body>
</html>
  